#div1 {
    font-size: 1em;
    background-color: limegreen;
}

#div2 {
    font-size: 1em;
    color: white;
    background-color: blue;
}

#div3 {
    font-size: 1em;
    background-color: red;
}

div:hover {
    font-weight: bold;
  }